.ULabout{
list-style-type: none;
}
.unorderlist{
    display:flex;
    font-family: 'Stoke', serif;
    justify-content: space-evenly;
}

.header2About{
    text-align: center;
     font-family: 'Stoke', serif;
    padding: 0.5em;
    text-transform: uppercase;
    text-decoration: underline;
}
.header1About{
    text-align: center;
     font-family: 'Stoke', serif;
} 

.h7About{
    font-weight:bold;
}

.aboutParagraph{
    font-size: 16px;
    padding: 0.5em;
    text-align:left;
    text-decoration-color: black;
    font-family: 'Stoke', serif;
}

a.intouch{
    color: black;
    font-family: 'Stoke', serif;
}

a.intouch:hover{
    color: #f64c72;
    font-family: 'Stoke', serif;
}