.ImageComponent {
    align-content: center;
    width: 100%;
    max-width:1000px;
  padding: 2px;
    height: auto;
    border: 10px solid black;
    }
    .imagePage{
        text-align: center;
    }